h1 {
	font-family: 'Abril Fatface', cursive;
	color:#fff5b8;
	font-size: 50pt;
}

h2 {
	font-family: 'Playfair Display', serif;
	color:#fff5b8;
	font-size: 30pt;


}

p{font-family: 'Raleway', sans-serif;
color:white;

}

li{font-family: 'Raleway', sans-serif;
color:white;


}

body{
	background-color:#0d6469;
}